NodeRed Halloween Garten
[{"id":"1b0d63d63bf49c7f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"68c64d5bd872e015","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9d85325e58399936","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"24f1a20a3d0144a9","type":"subflow","name":"api request","info":"","category":"","in":[{"x":220,"y":140,"wires":[{"id":"2221e5e8dbb895a5"}]}],"out":[{"x":640,"y":140,"wires":[{"id":"d96081944c97abfd","port":0}]}],"env":[{"name":"endpoint","type":"str","value":"/","ui":{"label":{"de":"Endpoint"},"type":"input","opts":{"types":["str"]}}},{"name":"method","type":"str","value":"get","ui":{"label":{"de":"Method"},"type":"select","opts":{"opts":[{"l":{"de":"GET"},"v":"get"},{"l":{"de":"POST"},"v":"post"},{"l":{"de":"DELETE"},"v":"delete"}]}}}],"meta":{},"color":"#DDAA99"},{"id":"1e43014d651478a1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"38b95dc59ffa3d5d","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"07209b0e57ca1856","type":"ui_group","name":"Pins","tab":"38b95dc59ffa3d5d","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"603940219c93ca15","type":"ui_group","name":"Programs","tab":"38b95dc59ffa3d5d","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"31433dea7da614cf","type":"ui_group","name":"Ports","tab":"38b95dc59ffa3d5d","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"d96081944c97abfd","type":"http request","z":"24f1a20a3d0144a9","name":"","method":"use","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":140,"wires":[[]]},{"id":"2221e5e8dbb895a5","type":"function","z":"24f1a20a3d0144a9","name":"function 8","func":"let server = global.get(\"server\")\nmsg.url = `http://${server}${env.get(\"endpoint\")}`\nmsg.method = env.get(\"method\")\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":140,"wires":[["d96081944c97abfd"]]},{"id":"2f863c9feee6ee22","type":"http in","z":"68c64d5bd872e015","name":"","url":"/setgauge","method":"get","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["d50d539969aff37d"]]},{"id":"420dde70692ccd82","type":"http response","z":"68c64d5bd872e015","name":"","statusCode":"","headers":{},"x":470,"y":220,"wires":[]},{"id":"d50d539969aff37d","type":"function","z":"68c64d5bd872e015","name":"function 1","func":"let v = parseInt(msg.req.query.value)\n\nmsg.payload = { value: v}\n\nlet msg2 = {\n    payload: v\n}\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":220,"wires":[["420dde70692ccd82"],[]]},{"id":"f1a1ebb1a071728e","type":"function","z":"68c64d5bd872e015","name":"function 2","func":"flow.set(\"pin\", msg.payload)\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":440,"wires":[[]]},{"id":"f81b029d2ed4d43d","type":"function","z":"68c64d5bd872e015","name":"function 3","func":"msg.payload = {\n    pin: flow.get(\"pin\"),\n    board: flow.get(\"board\")\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":640,"wires":[["bbb91b8e97da02a7"]]},{"id":"d021e49d9f2583ac","type":"function","z":"68c64d5bd872e015","name":"function 4","func":"\nmsg.payload = {\n    board: flow.get(\"board\"),\n    pin: flow.get(\"pin\"),\n    state: msg.payload\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":560,"wires":[["b63dd78c1c5629dc"]]},{"id":"bfb79997a28eb397","type":"function","z":"68c64d5bd872e015","name":"function 5","func":"if (msg.statusCode != 200) {\n    msg.payload = msg.payload.message\n    return msg;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":560,"wires":[["fd38a2092f18643a"]]},{"id":"c4dd17b355d3a1e6","type":"function","z":"68c64d5bd872e015","name":"function 6","func":"if (msg.statusCode != 200) {\n    msg.payload = msg.payload.message\n    return msg;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":680,"wires":[["a3600969737c6ce3"]]},{"id":"db659d01c01e9a9e","type":"function","z":"68c64d5bd872e015","name":"function 7","func":"flow.set(\"board\", msg.payload)\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":380,"wires":[[]]},{"id":"a2849b85d86f8f5e","type":"inject","z":"68c64d5bd872e015","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1090,"y":160,"wires":[["99c0150a1f35839f","0fe2b8261a53549b"]]},{"id":"99c0150a1f35839f","type":"function","z":"68c64d5bd872e015","name":"Set Api Server ","func":"global.set(\"server\", \"192.168.178.66:3000\");\n\nglobal.set(\"B1_ptp\", {\n    1: 62,\n    2: 61,\n    3: 60,\n    4: 59,\n    5: 58,\n    6: 57,\n    7: 56,\n    8: 55,\n    9: 53,\n    10: 69,\n    11: 68,\n    12: 67,\n    13: 66,\n    14: 65,\n    15: 65,\n    16: 63,\n    17: 45,\n    18: 46,\n    19: 47,\n    20: 48,\n    21: 49,\n    22: 50,\n    23: 51,\n    24: 52\n});\n\nglobal.set(\"B3_ptp\", {\n    1: 61,\n    2: 60,\n    3: 59,\n    4: 58,\n    5: 57,\n    6: 56,\n    7: 55,\n    8: 54,\n    9: 69,\n    10: 68,\n    11: 67,\n    12: 66,\n    13: 65,\n    14: 64,\n    15: 63,\n    16: 6,\n    17: 46,\n    18: 47,\n    19: 48,\n    20: 49,\n    21: 50,\n    22: 51,\n    23: 52,\n    24: 53\n});\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":160,"wires":[[]]},{"id":"a355fa4da5d7647b","type":"inject","z":"68c64d5bd872e015","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"board\":1, \"pin\": 13, \"state\":1}","payloadType":"json","x":1090,"y":220,"wires":[["e08b02544933610a"]]},{"id":"67a838a8655302f5","type":"debug","z":"68c64d5bd872e015","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1500,"y":220,"wires":[]},{"id":"b63dd78c1c5629dc","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/pin","type":"str"},{"name":"method","value":"post","type":"str"}],"x":1390,"y":560,"wires":[["bfb79997a28eb397"]]},{"id":"bbb91b8e97da02a7","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/pin","type":"str"}],"x":1380,"y":640,"wires":[["7dadccd05d80cec5","c4dd17b355d3a1e6"]]},{"id":"8d090d20aebcb2bb","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/program/run","type":"str"},{"name":"method","value":"post","type":"str"}],"x":2390,"y":380,"wires":[[]]},{"id":"7ccb8eb26c7b1f3d","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/program/kill","type":"str"},{"name":"method","value":"post","type":"str"}],"x":2390,"y":440,"wires":[[]]},{"id":"bcec5c6b0a5fd635","type":"ui_button","z":"68c64d5bd872e015","name":"","group":"603940219c93ca15","order":1,"width":0,"height":0,"passthru":false,"label":"Start Program 1","tooltip":"","color":"","bgcolor":"#0284c7","className":"","icon":"","payload":"{\"id\":1}","payloadType":"json","topic":"topic","topicType":"msg","x":2200,"y":380,"wires":[["8d090d20aebcb2bb"]]},{"id":"f5ff0ce805955769","type":"ui_button","z":"68c64d5bd872e015","name":"","group":"603940219c93ca15","order":2,"width":0,"height":0,"passthru":false,"label":"Stop Program","tooltip":"","color":"","bgcolor":"#dc2626","className":"","icon":"","payload":"{}","payloadType":"json","topic":"topic","topicType":"msg","x":2200,"y":440,"wires":[["7ccb8eb26c7b1f3d"]]},{"id":"7d1b326632c6d494","type":"ui_button","z":"68c64d5bd872e015","name":"","group":"07209b0e57ca1856","order":3,"width":3,"height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"#16a34a","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":1090,"y":520,"wires":[["d021e49d9f2583ac"]]},{"id":"43a5bd150fdeec76","type":"ui_button","z":"68c64d5bd872e015","name":"","group":"07209b0e57ca1856","order":4,"width":3,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"#dc2626","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":1090,"y":560,"wires":[["d021e49d9f2583ac"]]},{"id":"207cd718cd57dda9","type":"ui_button","z":"68c64d5bd872e015","name":"","group":"07209b0e57ca1856","order":5,"width":3,"height":1,"passthru":false,"label":"Get","tooltip":"","color":"","bgcolor":"#f59e0b","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1090,"y":640,"wires":[["f81b029d2ed4d43d"]]},{"id":"0766666e78e8073f","type":"ui_dropdown","z":"68c64d5bd872e015","name":"","label":"","tooltip":"","place":"Select option","group":"07209b0e57ca1856","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Board 1","value":1,"type":"num"},{"label":"Board 2","value":2,"type":"num"},{"label":"Board 3","value":3,"type":"num"},{"label":"Board 4","value":4,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1100,"y":380,"wires":[["db659d01c01e9a9e"]]},{"id":"c36bb8ead0507256","type":"ui_text_input","z":"68c64d5bd872e015","name":"","label":"Pin","tooltip":"","group":"07209b0e57ca1856","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":1090,"y":440,"wires":[["f1a1ebb1a071728e"]]},{"id":"7dadccd05d80cec5","type":"ui_text","z":"68c64d5bd872e015","group":"07209b0e57ca1856","order":6,"width":3,"height":1,"name":"","label":"State: ","format":"{{msg.payload.state}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1570,"y":640,"wires":[]},{"id":"fd38a2092f18643a","type":"ui_toast","z":"68c64d5bd872e015","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1710,"y":560,"wires":[]},{"id":"a3600969737c6ce3","type":"ui_toast","z":"68c64d5bd872e015","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1760,"y":680,"wires":[]},{"id":"a00cbdd0d496e050","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/music","type":"str"},{"name":"method","value":"delete","type":"str"}],"x":2390,"y":500,"wires":[[]]},{"id":"cb578e8b54be58b0","type":"ui_button","z":"68c64d5bd872e015","name":"","group":"603940219c93ca15","order":2,"width":0,"height":0,"passthru":false,"label":"Stop Music","tooltip":"","color":"","bgcolor":"#dc2626","className":"","icon":"","payload":"{}","payloadType":"json","topic":"topic","topicType":"msg","x":2190,"y":500,"wires":[["a00cbdd0d496e050"]]},{"id":"9ccb670bbd0af2b0","type":"ui_dropdown","z":"68c64d5bd872e015","name":"","label":"Ports","tooltip":"","place":"Select option","group":"31433dea7da614cf","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"PORT 1","value":1,"type":"num"},{"label":"PORT 2","value":2,"type":"num"},{"label":"PORT 3","value":3,"type":"num"},{"label":"PORT 4","value":4,"type":"num"},{"label":"PORT 5","value":5,"type":"num"},{"label":"PORT 6","value":6,"type":"num"},{"label":"PORT 7","value":"7","type":"str"},{"label":"PORT 8","value":"8","type":"str"},{"label":"PORT 9","value":"9","type":"str"},{"label":"PORT 10","value":"10","type":"str"},{"label":"PORT 11","value":"11","type":"str"},{"label":"PORT 12","value":"12","type":"str"},{"label":"PORT 13","value":"13","type":"str"},{"label":"PORT 14","value":"14","type":"str"},{"label":"PORT 15","value":"15","type":"str"},{"label":"PORT 16","value":"16","type":"str"},{"label":"PORT 17","value":"17","type":"str"},{"label":"PORT 18","value":"18","type":"str"},{"label":"PORT 19","value":"19","type":"str"},{"label":"PORT 20","value":"20","type":"str"},{"label":"PORT 21","value":"21","type":"str"},{"label":"PORT 22","value":"22","type":"str"},{"label":"PORT 23","value":"23","type":"str"},{"label":"PORT 24","value":"24","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":2170,"y":600,"wires":[["afe01b433ad2a7bd"]]},{"id":"afe01b433ad2a7bd","type":"function","z":"68c64d5bd872e015","name":"function 9","func":"flow.set(\"port\", msg.payload)\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":600,"wires":[["45c4c2495f6f75bd"]]},{"id":"45c4c2495f6f75bd","type":"ui_toast","z":"68c64d5bd872e015","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":2500,"y":600,"wires":[]},{"id":"295a363c7b2658a4","type":"ui_button","z":"68c64d5bd872e015","name":"","group":"31433dea7da614cf","order":1,"width":0,"height":0,"passthru":false,"label":"12 V An","tooltip":"","color":"","bgcolor":"#16a34a","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2180,"y":680,"wires":[["394d97040c61f9b1"]]},{"id":"394d97040c61f9b1","type":"function","z":"68c64d5bd872e015","name":"function 10","func":"// Port-zu-Pin Mapping\nlet portToPin = global.get(\"B1_ptp\");\n\n\n// Port-Variable aus Flow holen\nlet port = flow.get(\"port\");\n\n// Pin anhand Mapping bestimmen (Fallback: Port selbst)\nlet pin = portToPin[port] || port;\n\nmsg.payload = {\n    board: 1,\n    pin: pin,\n    state: 1\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":680,"wires":[["46c5945d594cf27f","ef0c4e62bd8e0f91"]]},{"id":"4a0b0152a4715a67","type":"ui_button","z":"68c64d5bd872e015","name":"","group":"31433dea7da614cf","order":1,"width":0,"height":0,"passthru":false,"label":"12 V Aus","tooltip":"","color":"","bgcolor":"#dc2626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2180,"y":740,"wires":[["6b293a50c3d0f7a5"]]},{"id":"6b293a50c3d0f7a5","type":"function","z":"68c64d5bd872e015","name":"function 11","func":"// Port-zu-Pin Mapping\nlet portToPin = global.get(\"B1_ptp\");\n\n// Port-Variable aus Flow holen\nlet port = flow.get(\"port\");\n\n// Pin anhand Mapping bestimmen (Fallback: Port selbst)\nlet pin = portToPin[port] || port;\n\nmsg.payload = {\n    board: 1,\n    pin: pin,\n    state: 0\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":740,"wires":[["c7d947166410c5c2"]]},{"id":"9d5fd4ab718746e6","type":"ui_button","z":"68c64d5bd872e015","name":"","group":"31433dea7da614cf","order":3,"width":0,"height":0,"passthru":false,"label":"Schaltkontakt","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2060,"y":880,"wires":[["e7f29f7d475ef594"]]},{"id":"27cc78e1125636e6","type":"function","z":"68c64d5bd872e015","name":"function 12","func":"// Port-zu-Pin Mapping\nlet portToPin = global.get(\"B3_ptp\");\n\n// Port-Variable aus Flow holen\nlet port = flow.get(\"port\");\n\n// Pin anhand Mapping bestimmen (Fallback: Port selbst)\nlet pin = portToPin[port] || port;\n\n\nlet state3 = flow.get(\"state3\");\n\n// Wenn state3 == 1 → \"0\", sonst → \"1\"\nlet newState = (state3 === 1) ? \"0\" : \"1\";\n\nmsg.payload = {\n    board: 3,\n    pin: pin,\n    state: newState\n};\n\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2710,"y":880,"wires":[["75ed172c7b90cc85"]]},{"id":"e79ac43f6f648968","type":"delay","z":"68c64d5bd872e015","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3040,"y":880,"wires":[["ff8fe7530ed35544"]]},{"id":"ff8fe7530ed35544","type":"function","z":"68c64d5bd872e015","name":"function 13","func":"// Port-zu-Pin Mapping\nlet portToPin = global.get(\"B3_ptp\");\n\n// Port-Variable aus Flow holen\nlet port = flow.get(\"port\");\n\n// Pin anhand Mapping bestimmen (Fallback: Port selbst)\nlet pin = portToPin[port] || port;\n\nlet state3 = flow.get(\"state3\");\n\nmsg.payload = {\n    board: 3,\n    pin: pin,\n    state: state3\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3210,"y":880,"wires":[["ad9bf5536c9f37de"]]},{"id":"7680e1c18b425313","type":"function","z":"68c64d5bd872e015","name":"function 14","func":"if (msg.statusCode != 200) {\n    msg.payload = msg.payload.message\n    return msg;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2690,"y":680,"wires":[["35cea662168ff72d"]]},{"id":"46c5945d594cf27f","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/pin","type":"str"},{"name":"method","value":"post","type":"str"}],"x":2520,"y":680,"wires":[["7680e1c18b425313"]]},{"id":"35cea662168ff72d","type":"ui_toast","z":"68c64d5bd872e015","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":2880,"y":680,"wires":[]},{"id":"32a4214f00c34652","type":"function","z":"68c64d5bd872e015","name":"function 15","func":"if (msg.statusCode != 200) {\n    msg.payload = msg.payload.message\n    return msg;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2690,"y":740,"wires":[["c696dcc07dba6417"]]},{"id":"c7d947166410c5c2","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/pin","type":"str"},{"name":"method","value":"post","type":"str"}],"x":2520,"y":740,"wires":[["32a4214f00c34652"]]},{"id":"c696dcc07dba6417","type":"ui_toast","z":"68c64d5bd872e015","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":2880,"y":740,"wires":[]},{"id":"ef0c4e62bd8e0f91","type":"debug","z":"68c64d5bd872e015","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2520,"y":640,"wires":[]},{"id":"75ed172c7b90cc85","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/pin","type":"str"},{"name":"method","value":"post","type":"str"}],"x":2870,"y":880,"wires":[["e79ac43f6f648968"]]},{"id":"ad9bf5536c9f37de","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/pin","type":"str"},{"name":"method","value":"post","type":"str"}],"x":3370,"y":880,"wires":[["c34facb08edd20bd"]]},{"id":"c34facb08edd20bd","type":"function","z":"68c64d5bd872e015","name":"function 17","func":"if (msg.statusCode != 200) {\n    msg.payload = msg.payload.message\n    return msg;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3530,"y":880,"wires":[["79478a3aeaa62449"]]},{"id":"79478a3aeaa62449","type":"ui_toast","z":"68c64d5bd872e015","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Workt","x":3670,"y":880,"wires":[]},{"id":"da74a14bf8ee01b3","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/pin","type":"str"}],"x":2390,"y":880,"wires":[["788cb52d6a28bfdf"]]},{"id":"e7f29f7d475ef594","type":"function","z":"68c64d5bd872e015","name":"function 17","func":"// Port-zu-Pin Mapping\nlet portToPin = global.get(\"B3_ptp\");\n// Port-Variable aus Flow holen\nlet port = flow.get(\"port\");\n\n// Pin anhand Mapping bestimmen (Fallback: Port selbst)\nlet pin = portToPin[port] || port;\n\nmsg.payload = {\n    pin: pin,\n    board: 3\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2230,"y":880,"wires":[["da74a14bf8ee01b3"]]},{"id":"e08b02544933610a","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/pin","type":"str"}],"x":1320,"y":220,"wires":[["67a838a8655302f5"]]},{"id":"b9ab04d3b9498b20","type":"ui_button","z":"68c64d5bd872e015","name":"","group":"31433dea7da614cf","order":3,"width":0,"height":0,"passthru":false,"label":"Schaltkontakt 12V","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2050,"y":960,"wires":[["b56b535253a4d43d"]]},{"id":"440f20965beb7518","type":"function","z":"68c64d5bd872e015","name":"function 18","func":"// Port-zu-Pin Mapping\nlet portToPin = global.get(\"B1_ptp\");\n\n\n\n// Port-Variable aus Flow holen\nlet port = flow.get(\"port\");\n\n// Pin anhand Mapping bestimmen (Fallback: Port selbst)\nlet pin = portToPin[port] || port;\n\nlet state3 = flow.get(\"state1\");\n\n// Wenn state3 == 1 → \"0\", sonst → \"1\"\nlet newState = (state3 === 1) ? \"0\" : \"1\";\n\nmsg.payload = {\n    board: 1,\n    pin: pin,\n    state: newState\n};\n\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2710,"y":960,"wires":[["6dcb17361ab16891"]]},{"id":"2a91b726c968f404","type":"delay","z":"68c64d5bd872e015","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3040,"y":960,"wires":[["6e7901267f6cbde9"]]},{"id":"6e7901267f6cbde9","type":"function","z":"68c64d5bd872e015","name":"function 19","func":"// Port-zu-Pin Mapping\nlet portToPin = global.get(\"B1_ptp\");\n\n\n\n// Port-Variable aus Flow holen\nlet port = flow.get(\"port\");\n\n// Pin anhand Mapping bestimmen (Fallback: Port selbst)\nlet pin = portToPin[port] || port;\n\nlet state1 = flow.get(\"state1\");\n\nmsg.payload = {\n    board: 1,\n    pin: pin,\n    state: state1\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3210,"y":960,"wires":[["143395880ff9d05e"]]},{"id":"6dcb17361ab16891","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/pin","type":"str"},{"name":"method","value":"post","type":"str"}],"x":2870,"y":960,"wires":[["2a91b726c968f404"]]},{"id":"143395880ff9d05e","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/pin","type":"str"},{"name":"method","value":"post","type":"str"}],"x":3370,"y":960,"wires":[["4d48892dbcf7326f"]]},{"id":"4d48892dbcf7326f","type":"function","z":"68c64d5bd872e015","name":"function 20","func":"if (msg.statusCode != 200) {\n    msg.payload = msg.payload.message\n    return msg;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3530,"y":960,"wires":[["3da4b0d62b71d549"]]},{"id":"3da4b0d62b71d549","type":"ui_toast","z":"68c64d5bd872e015","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Workt","x":3670,"y":960,"wires":[]},{"id":"6fb8d4f4f014d555","type":"subflow:24f1a20a3d0144a9","z":"68c64d5bd872e015","name":"","env":[{"name":"endpoint","value":"/pin","type":"str"}],"x":2390,"y":960,"wires":[["faac1ebcd23946f4"]]},{"id":"b56b535253a4d43d","type":"function","z":"68c64d5bd872e015","name":"function 21","func":"let portToPin = global.get(\"B1_ptp\");\n\n\n// Port-Variable aus Flow holen\nlet port = flow.get(\"port\");\n\n// Pin anhand Mapping bestimmen (Fallback: Port selbst)\nlet pin = portToPin[port] || port;\n\nmsg.payload = {\n    pin: pin,\n    board: 1\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2230,"y":960,"wires":[["6fb8d4f4f014d555"]]},{"id":"faac1ebcd23946f4","type":"function","z":"68c64d5bd872e015","name":"function 22","func":"flow.set(\"state1\", msg.payload.state)\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2550,"y":960,"wires":[["440f20965beb7518"]]},{"id":"0fe2b8261a53549b","type":"exec","z":"68c64d5bd872e015","command":"cd /home/halloween-garten/halloween-proto24-main && pm2 start","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1420,"y":100,"wires":[[],[],[]]},{"id":"cae1ee1470b9bd0f","type":"debug","z":"68c64d5bd872e015","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2440,"y":820,"wires":[]},{"id":"d09164289f7e80ea","type":"inject","z":"68c64d5bd872e015","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1980,"y":800,"wires":[["a7d3038fd19f03d4"]]},{"id":"a7d3038fd19f03d4","type":"function","z":"68c64d5bd872e015","name":"function 23","func":"// Port-zu-Pin Mapping\nlet portToPin = flow.get(\"B3_ptp\");\n\n\nmsg.payload = {\n    portToPin\n};\n\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2150,"y":800,"wires":[["cae1ee1470b9bd0f"]]},{"id":"788cb52d6a28bfdf","type":"function","z":"68c64d5bd872e015","name":"function 16","func":"flow.set(\"state3\", msg.payload.state)\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2550,"y":880,"wires":[["27cc78e1125636e6"]]},{"id":"18f4d365630ba392","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]
